
.App {
  text-align: center;
}

#users-template{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.user-box{
    background-color: purple;
    border-style: groove;
    text-align: center;
    justify-content: center;
    font-family: "Sofia", sans-serif;
    display: relative;
    width:80px;
    height:80px;

}
#main-links > a{
  margin: 10px;
  color: #34495e;
  text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: slateblue;
}

.movies-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.movie-item{
  
  text-align: center;
  align-content: center;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1vw;
  padding-right: 1vw;
}
.movie-img{
background-color: #bdc3c7;
box-shadow: 1px 1px 3px black;
box-sizing: border-box;
height: 300px;
width: 270px;
}

.homeLink{
  gap:10px;
}

.catalogLink{
  gap:10px;
}

#navigation-bar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.renting-title{
  font-family: "Sofia", sans-serif;
}

.linkInNavigationBar{
  font-family: "Trirong", serif;
}

.budget{
  font-family: "Audiowide", sans-serif;
}

.button_plus {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;

  /* Mittig */
  top: 50%;
  left: 50%;
}

.button_plus:after {
  content: '';
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #095776;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #095776;
  transition: 0.2s;
}

body{
  background-color: plum;
}

.movie-input{
  background-color: salmon;
}

.movie-title{
  font-family: "Sofia", sans-serif;
  color: white;
}

.info{
  color: white;
}
